<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>streamdock</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap">
    <link href="https://vjs.zencdn.net/7.20.3/video-js.css" rel="stylesheet" />

    <link rel="icon" href="{{ url_for('static', filename='favicons/favicon-32x32.png') }}" sizes="32x32" type="image/png">
    <link rel="icon" href="{{ url_for('static', filename='favicons/favicon-16x16.png') }}" sizes="16x16" type="image/png">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicons/favicon.ico') }}" type="image/x-icon">
    



    <script>
        function setTheme() {
            const prefersDarkScheme = window.matchMedia("(prefers-color-scheme: dark)");
            const currentTheme = prefersDarkScheme.matches ? "dark" : "light";
            document.documentElement.setAttribute("data-theme", currentTheme);
            updateLogo(currentTheme);
        }

        function updateLogo(theme) {
            const logo = document.getElementById("logo");
            if (theme === "dark") {
                logo.src = "{{ url_for('static', filename='streamdock-logo_dark.png') }}";
            } else {
                logo.src = "{{ url_for('static', filename='streamdock-logo_light.png') }}";
            }
        }

        window.matchMedia("(prefers-color-scheme: dark)").addEventListener('change', e => {
            const newColorScheme = e.matches ? "dark" : "light";
            document.documentElement.setAttribute("data-theme", newColorScheme);
            updateLogo(newColorScheme);
            
            loadCategories();
        });

        window.addEventListener('DOMContentLoaded', setTheme);
    </script>
</head>
<body>
    <div id="loaderOverlay" class="loader-overlay"></div>
    <div id="loader" class="loader"></div>

    <div class="sidebar">
        <img id="logo" src="{{ url_for('static', filename='streamdock-logo_light.png') }}" alt="StreamDock Logo" class="logo">
        <input type="text" id="searchInput" placeholder="Search Channel..." class="search-bar">
        <div id="category-container"></div>
        <div id="search-results" style="display: none;"></div>
    </div>
    
    <div class="content">
        <div class="menu-button-container">
            <button class="menu-button" onclick="toggleMenu()">☰</button>
            <div id="dropdownMenu" class="dropdown-menu" style="display: none;">
                <a href="/settings">Settings</a>
            </div>
        </div>

        <div class="main-content">
            <div id="player-section" class="player-section">
                <h2 id="selected-channel" style="display: none;"></h2>
                <div id="player-container">
                    <video id="videoPlayer" class="video-js vjs-default-skin" controls preload="auto" playsinline crossorigin="anonymous">
                        <source src="" type="application/x-mpegURL">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
            

            <div class="sidebar-right" style="display: none;">
                <h3>Similar Channels</h3>
                <div id="similar-channels" style="display: none;"></div>
            </div>
        </div>
    </div>
    
    <script src="https://vjs.zencdn.net/7.20.3/video.min.js"></script>
    <script src="https://unpkg.com/@videojs/http-streaming@latest/dist/videojs-http-streaming.min.js"></script>

    <script>
        function getDefaultIconUrl() {
            const currentTheme = document.documentElement.getAttribute("data-theme");
            return currentTheme === 'dark' 
                ? "{{ url_for('static', filename='default-logo_dark.png') }}" 
                : "{{ url_for('static', filename='default-logo_light.png') }}";
        }

        function loadCategories() {
            showLoader();
            fetch('/api/categories')
                .then(response => response.json())
                .then(data => {
                    const categories = data.categories;
                    const categoryContainer = document.getElementById('category-container');
                    categoryContainer.innerHTML = '';

                    window.allChannels = [];
                    window.baseNameToChannels = {};

                    const defaultIconUrl = getDefaultIconUrl();

                    categories.forEach(category => {
                        const categoryDiv = document.createElement('div');
                        categoryDiv.classList.add('category');

                        const categoryName = document.createElement('p');
                        categoryName.classList.add('menu-item');
                        categoryName.textContent = category.name;
                        categoryName.onclick = () => toggleChannels(category.name);

                        const channelsList = document.createElement('div');
                        channelsList.id = `channels-${category.name}`;
                        channelsList.classList.add('channels-list');
                        channelsList.style.display = 'none';

                        category.channels.forEach(channel => {
                            const channelP = document.createElement('p');
                            channelP.classList.add('channel-name');
                            channelP.setAttribute('data-channel-name', channel.name);
                            channelP.setAttribute('data-stream-url', channel.url);

                            const iconUrl = channel.icon 
                                ? `/proxy_image?url=${encodeURIComponent(channel.icon)}`
                                : defaultIconUrl;

                            channelP.setAttribute('data-channel-icon', iconUrl);

                            const iconImg = document.createElement('img');
                            iconImg.src = iconUrl;
                            iconImg.alt = "Icon";
                            iconImg.classList.add('channel-icon');

                            
                            iconImg.onerror = function() {
                                this.onerror = null; 
                                this.src = defaultIconUrl;
                            };

                            channelP.appendChild(iconImg);
                            channelP.appendChild(document.createTextNode(channel.name));

                            channelsList.appendChild(channelP);

                            window.allChannels.push(channel);

                            const baseName = normalizeChannelName(channel.name);
                            if (!window.baseNameToChannels[baseName]) {
                                window.baseNameToChannels[baseName] = [];
                            }
                            window.baseNameToChannels[baseName].push(channel);
                        });

                        categoryDiv.appendChild(categoryName);
                        categoryDiv.appendChild(channelsList);

                        categoryContainer.appendChild(categoryDiv);
                    });
                    hideLoader();
                })
                .catch(error => {
                    hideLoader();
                    console.error('Error loading categories:', error);
                    alert('Categories could not be loaded. Please try again later.');
                });
        }


        window.addEventListener('DOMContentLoaded', loadCategories);

        function toggleChannels(category) {
            const channelsList = document.getElementById(`channels-${category}`);
            const isVisible = channelsList.style.display === "block";
            channelsList.style.display = isVisible ? "none" : "block";
        }

        document.getElementById("searchInput").addEventListener("input", function() {
            const searchValue = this.value.toLowerCase();
            const categoryContainer = document.getElementById("category-container");
            const searchResultsContainer = document.getElementById("search-results");
            searchResultsContainer.innerHTML = "";

            if (searchValue === "") {
                categoryContainer.style.display = "block";
                searchResultsContainer.style.display = "none";
            } else {
                categoryContainer.style.display = "none";
                searchResultsContainer.style.display = "block";

                const channels = document.querySelectorAll(".channel-name");
                channels.forEach(channel => {
                    const channelText = channel.getAttribute("data-channel-name").toLowerCase();
                    if (channelText.includes(searchValue)) {
                        const result = channel.cloneNode(true);
                        result.classList.remove('selected');

                        
                        const img = result.querySelector('img.channel-icon');
                        if (img) {
                            img.onerror = function() {
                                this.onerror = null;
                                this.src = getDefaultIconUrl();
                            };
                        }

                        searchResultsContainer.appendChild(result);
                    }
                });
            }
        });


        function showLoader() {
            document.getElementById("loaderOverlay").classList.add("active");
            document.getElementById("loader").classList.add("active");
        }

        function hideLoader() {
            document.getElementById("loaderOverlay").classList.remove("active");
            document.getElementById("loader").classList.remove("active");
        }

        function playChannel(streamUrl, channelName, channelIcon) { 
        console.log('Playing Channel:', channelName, 'Stream URL:', streamUrl);
        const playerContainer = document.getElementById("player-container");
        playerContainer.style.display = "block";

        const defaultIcon = getDefaultIconUrl();

        const validChannelIcon = channelIcon && channelIcon !== 'null' ? channelIcon : defaultIcon;

        const selectedChannel = document.getElementById("selected-channel");
        selectedChannel.innerHTML = `
            <img src="${validChannelIcon}" alt="Icon" class="selected-channel-icon">
            Currently watching: ${channelName}
        `;
        selectedChannel.style.display = "flex";

        if (window.player) {
            window.player.src({
                src: streamUrl,
                type: 'application/x-mpegURL',
                withCredentials: false,
                crossOrigin: 'anonymous'
            });

            window.player.on('loadedmetadata', function() {
                var tracks = window.player.textTracks();
                for (var i = 0; i < tracks.length; i++) {
                    tracks[i].mode = 'hidden';
                }

                
                const videoElement = window.player.tech().el();
                const nativeWidth = videoElement.videoWidth;
                const nativeHeight = videoElement.videoHeight;

                console.log(`Native Resolution: ${nativeWidth}x${nativeHeight}`);

                
                adjustVideoContainer(nativeWidth, nativeHeight);
            });

            window.player.play().then(() => {
                console.log('Playback started');
            }).catch(error => {
                console.error('Playback error:', error);
                hideLoader();
                alert('Playback could not be started.');
            });
        } else {
            console.error("Video.js Player is not initialized.");
            hideLoader();
        }

        const baseName = normalizeChannelName(channelName);
        const similarChannels = window.baseNameToChannels[baseName] || [];
        displaySimilarChannels(similarChannels, channelName);

        hideLoader();
    }

    function adjustVideoContainer(nativeWidth, nativeHeight) {
        const playerContainer = document.getElementById("player-container");
        const videoElement = document.getElementById("videoPlayer");

        
        const windowWidth = window.innerWidth;
        const windowHeight = window.innerHeight * 0.8; 

        let displayWidth = nativeWidth;
        let displayHeight = nativeHeight;

        
        if (nativeWidth > windowWidth) {
            const ratio = windowWidth / nativeWidth;
            displayWidth = windowWidth;
            displayHeight = nativeHeight * ratio;
        }

        if (displayHeight > windowHeight) {
            const ratio = windowHeight / displayHeight;
            displayHeight = windowHeight;
            displayWidth = displayWidth * ratio;
        }

        
        playerContainer.style.width = `${displayWidth}px`;
        playerContainer.style.height = `${displayHeight}px`;

        
        videoElement.style.width = "100%";
        videoElement.style.height = "100%";
    }

   
    window.addEventListener('resize', function() {
        if (window.player && window.player.tech() && window.player.tech().el()) {
            const videoElement = window.player.tech().el();
            const nativeWidth = videoElement.videoWidth;
            const nativeHeight = videoElement.videoHeight;
            adjustVideoContainer(nativeWidth, nativeHeight);
        }
    });

    function displaySimilarChannels(similarChannels, currentChannelName) {
        var similarChannelsDiv = document.getElementById('similar-channels');
        var sidebarRightDiv = document.querySelector('.sidebar-right');

        similarChannelsDiv.innerHTML = '';

        var filteredChannels = similarChannels.filter(channel => channel.name !== currentChannelName);

        if (filteredChannels.length === 0) {
            similarChannelsDiv.style.display = 'none';
            sidebarRightDiv.style.display = 'none';
            return;
        }

        similarChannelsDiv.style.display = 'block';
        sidebarRightDiv.style.display = 'block';

        filteredChannels.forEach(function(channel) {
            var channelP = document.createElement('p');
            channelP.classList.add('channel-name');
            channelP.setAttribute('data-channel-name', channel.name);
            channelP.setAttribute('data-stream-url', channel.url);

            const iconUrl = channel.icon 
                ? `/proxy_image?url=${encodeURIComponent(channel.icon)}`
                : getDefaultIconUrl();

            var iconImg = document.createElement('img');
            iconImg.src = iconUrl;
            iconImg.alt = "Icon";
            iconImg.classList.add('channel-icon');

            
            iconImg.onerror = function() {
                this.onerror = null; 
                this.src = getDefaultIconUrl();
            };

            channelP.appendChild(iconImg);
            channelP.appendChild(document.createTextNode(channel.name));

            similarChannelsDiv.appendChild(channelP);
        });
    }


        function handleChannelClick(event) {
            const channelElement = event.target.closest(".channel-name");
            if (channelElement) {
                const streamUrl = channelElement.getAttribute("data-stream-url");
                const channelName = channelElement.getAttribute("data-channel-name"); 
                const channelIcon = channelElement.getAttribute("data-channel-icon"); 
                if (streamUrl) {
                    showLoader();

                    fetch('/get_stream', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ stream_url: streamUrl })
                    })
                    .then(response => {
                        console.log('Response Status:', response.status);
                        if (response.status === 200) {
                            return response.json();
                        } else {
                            return response.json().then(data => { throw new Error(data.error || 'Unknown error'); });
                        }
                    })
                    .then(data => {
                        console.log('Stream Data:', data);
                        if (data.stream_url) {
                            playChannel(data.stream_url, channelName, channelIcon);
                            document.querySelectorAll('.channel-name').forEach(ch => ch.classList.remove('selected'));
                            channelElement.classList.add('selected');
                        } else if (data.error) {
                            hideLoader();
                            alert(`Error: ${data.error}`);
                        }
                    })
                    .catch(error => {
                        hideLoader();
                        console.error('Error:', error);
                        alert(error.message);
                    });
                }
            }
        }

        document.addEventListener("click", handleChannelClick);
        document.addEventListener("touchstart", handleChannelClick);

        function toggleMenu() {
            const dropdown = document.getElementById("dropdownMenu");
            if (dropdown.style.display === "none" || dropdown.style.display === "") {
                dropdown.style.display = "block";
            } else {
                dropdown.style.display = "none";
            }
        }

        window.onclick = function(event) {
            if (!event.target.matches('.menu-button')) {
                const dropdown = document.getElementById("dropdownMenu");
                if (dropdown.style.display === "block") {
                    dropdown.style.display = "none";
                }
            }
        }

        window.addEventListener('DOMContentLoaded', function() {
            window.player = videojs('videoPlayer', {
                techOrder: ["html5"],
                sources: [],
                fluid: true,
                playsinline: true,
                autoplay: false,
                controls: true,
                crossOrigin: 'anonymous',
                html5: {
                    hls: {
                        withCredentials: false
                    },
                    vhs: {
                        withCredentials: false
                    }
                }
            }, function() {
                console.log('Video.js Player is ready');
            });
            hidePlayer();
        });

        var allChannels = [];
        var baseNameToChannels = {};

        function normalizeChannelName(name) {
            name = name.toUpperCase();
            name = name.replace(/\(.*?\)/g, '');
            name = name.replace(/[^\w\s]/g, '');

            var suffixes = ['HD', 'RAW', 'LOW BIT', 'AMZ', 'ᴴᴰ', 'ᴿᴬᵂ', 'ᵃᵐᶻ', '◉'];
            suffixes.forEach(function(suffix) {
                var regex = new RegExp('\\b' + suffix + '\\b', 'g');
                name = name.replace(regex, '');
            });

            name = name.replace(/\s+/g, ' ').trim();

            return name;
        }

        function hidePlayer() {
            const playerContainer = document.getElementById("player-container");
            playerContainer.style.display = "none";

            const selectedChannel = document.getElementById("selected-channel");
            selectedChannel.style.display = "none";

            var similarChannelsDiv = document.getElementById('similar-channels');
            similarChannelsDiv.style.display = 'none';

            var sidebarRightDiv = document.querySelector('.sidebar-right');
            sidebarRightDiv.style.display = 'none';
        }
    </script>
    
</body>
</html>
