<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap">
    <link href="https://vjs.zencdn.net/7.20.3/video-js.css" rel="stylesheet" />

    <script>
        function setTheme() {
            const prefersDarkScheme = window.matchMedia("(prefers-color-scheme: dark)");
            const currentTheme = prefersDarkScheme.matches ? "dark" : "light";
            document.documentElement.setAttribute("data-theme", currentTheme);
        }

        window.matchMedia("(prefers-color-scheme: dark)").addEventListener('change', e => {
            const newColorScheme = e.matches ? "dark" : "light";
            document.documentElement.setAttribute("data-theme", newColorScheme);
        });

        window.addEventListener('DOMContentLoaded', setTheme);
    </script>
</head>
<body class="settings-page">
    <div class="content">
        <div class="menu-button-container">
            <!-- Back to Home Link -->
            <a href="/" class="menu-button">← Home</a>
        </div>

        <h1>Settings</h1>
        
        {% if success %}
            <p style="color: green;">{{ success }}</p>
            <script>
                fetch('/reload_config', { method: 'POST' })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data.message);
                        setTimeout(function() {
                            location.reload();
                        }, 2000); // Reload the page after 2 seconds
                    })
                    .catch(error => console.error('Error reloading configuration:', error));
            </script>
        {% endif %}
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}

        <form id="settingsForm" method="POST" action="/settings">
            <h2 for="m3u_url">M3U Playlist URL:</label><br>
            <input type="url" id="m3u_url" name="m3u_url" placeholder="https://iptv-org.github.io/iptv/index.m3u" value="{{ m3u_url }}" required style="width: 100%; padding: 8px; margin: 8px 0; box-sizing: border-box; border-radius: 4px; border: 1px solid var(--secondary);"><br>
            <button type="submit" name="action" value="save" class="menu-button" style="padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer;">Save</button>
        </form>

        <div class="country-container">
            <label>Choose Free Playlist from iptv-org (most channels are country-locked!)</label><br>
            <input type="text" id="countrySearch" placeholder="Search countries..." style="width: 100%; padding: 8px; margin: 8px 0; box-sizing: border-box; border-radius: 4px; border: 1px solid var(--secondary);">
            <div class="country-buttons-container"></div>
        </div>
        
        <details>
            <summary>Debug</summary>
            <label>HW_DEVICE: {{ hw_device if hw_device else "Not set" }}</label><br>
            HW_ACCEL: {{ hw_accel if hw_accel else "Not set" }}</p>
            <button id="vainfoButton" type="button" class="menu-button" style="margin-top: 10px;">Run Vainfo</button>
            <div id="vainfoOutput" style="max-height: 200px; overflow-y: scroll; padding: 10px; margin-top: 10px;"></div>
        </details>
        
        <script>
            let allCountries = []; 
        
            fetch('/static/data/countries.json')
                .then(response => response.json())
                .then(countries => {
                    allCountries = countries; 
                    renderCountryButtons(countries);
                })
                .catch(error => console.error('Error loading countries:', error));
        
            
                function renderCountryButtons(countries) {
                    const container = document.querySelector('.country-buttons-container');
                    container.innerHTML = '';

                    const defaultCountries = countries.filter(country =>
                        country.name.toLowerCase().includes('united states') ||
                        country.name.toLowerCase().includes('united kingdom') ||
                        country.name.toLowerCase().includes('canada') ||
                        country.name.toLowerCase().includes('australia') ||
                        country.name.toLowerCase().includes('germany')
                    );

                    const hiddenCountries = countries.filter(country => !defaultCountries.includes(country));

                    defaultCountries.forEach(country => {
                        const button = document.createElement('button');
                        button.className = 'country-button';
                        button.innerHTML = `${country.name}`;
                        button.onclick = () => {
                            document.getElementById('m3u_url').value = country.playlist;
                        };
                        container.appendChild(button);
                    });

                    
                    if (hiddenCountries.length > 0) {
                        const moreButton = document.createElement('button');
                        moreButton.className = 'country-button';
                        moreButton.innerHTML = '...more';
                        moreButton.onclick = () => {
                            renderAllCountries(countries);
                        };
                        container.appendChild(moreButton);
                    }
                }

                function renderAllCountries(countries) {
                    const container = document.querySelector('.country-buttons-container');
                    container.innerHTML = '';

                    
                    countries.forEach(country => {
                        const button = document.createElement('button');
                        button.className = 'country-button';
                        button.innerHTML = `${country.name}`;
                        button.onclick = () => {
                            document.getElementById('m3u_url').value = country.playlist;
                        };
                        container.appendChild(button);
                    });
                }


        
            
                document.getElementById('countrySearch').addEventListener('input', (event) => {
                    const searchQuery = event.target.value.toLowerCase();
                    if (searchQuery === '') {
                        
                        renderCountryButtons(allCountries);
                    } else {                        
                        const filteredCountries = allCountries.filter(country =>
                            country.name.toLowerCase().includes(searchQuery)
                        );
                        renderAllCountries(filteredCountries);
                    }
                });

            document.getElementById('vainfoButton').addEventListener('click', () => {
                fetch('/run_vainfo')
                    .then(response => response.json())
                    .then(data => {
                        const outputDiv = document.getElementById('vainfoOutput');
                        outputDiv.textContent = data.output;
                    })
                    .catch(error => {
                        console.error('Error while running vainfo:', error);
                    });
            });
        </script>
        

    
        
    </div>
    

    
    
    <script src="https://vjs.zencdn.net/7.20.3/video.min.js"></script>
    <script src="https://unpkg.com/@videojs/http-streaming@latest/dist/videojs-http-streaming.min.js"></script>


    
</body>
</html>
